<p class="view"><a target="_blank" href="http://prose.io/#collaborativeinternet/collaborativeinternet.github.io/edit/master/{{page.path}}">Edit this page</a></p>
<p class="view"><a target="_blank" href="http://prose.io/#collaborativeinternet/collaborativeinternet.github.io/new/master/wiki">Create a new page</a></p>
<p class="view"><a target="_blank" href="/how-to-edit-the-wiki.html">Help on editing this wiki</a></p>
<p class="view"><a href="https://github.com/collaborativeinternet/collaborativeinternet.github.io">View this website on GitHub</a></p>
